@charset "UTF-8";
::-webkit-scrollbar-track {
  background: #f5cdcd; /* цвет фона у дорожки */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset; /* тень у дорожки */
}

::-webkit-scrollbar-thumb {
  background: #e47e7e; /* цвет фона у дорожки */
  border-radius: 8px; /* скругление углов */
  border: 3px solid #f5cdcd; /* толщина, стиль и цвет рамки */
}

::-webkit-scrollbar-thumb:hover {
  background: #b91414; /* ползунок меняет цвет при наведении */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #c471f5 0%, #fa71cd 100%);
  background-size: contain;
  border-radius: 8px;
  border: 3px solid #f5cdcd;
}